@font-face {
  font-family: "cupcake-icons";
  src: asset-data-uri("cupcake-icons.eot");
  src: font-url("cupcake-icons.eot?iefix") format("embedded-opentype"),
       font-url("cupcake-icons.woff") format("woff"),
       font-url("cupcake-icons.ttf") format("truetype"),
       font-url("cupcake-icons.svg#cupcake-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "cupcake-icons";
    src: asset-url("cupcake-icons.svg#cupcake-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icn-arrow-right:before,
.icn-branch:before,
.icn-browser:before,
.icn-cloud-up:before,
.icn-cube:before,
.icn-cupcake:before,
.icn-data:before,
.icn-flynn:before,
.icn-heart:before,
.icn-list:before,
.icn-lock-open:before,
.icn-money:before,
.icn-people:before,
.icn-plus-square:before,
.icn-ribbon:before,
.icn-tent:before {
  display: inline-block;
  font-family: "cupcake-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icn-arrow-right:before { content: "\f10b"; }
.icn-branch:before { content: "\f107"; }
.icn-browser:before { content: "\f10d"; }
.icn-cloud-up:before { content: "\f10a"; }
.icn-cube:before { content: "\f112"; }
.icn-cupcake:before { content: "\f102"; }
.icn-data:before { content: "\f111"; }
.icn-flynn:before { content: "\f103"; }
.icn-heart:before { content: "\f10f"; }
.icn-list:before { content: "\f104"; }
.icn-lock-open:before { content: "\f110"; }
.icn-money:before { content: "\f105"; }
.icn-people:before { content: "\f109"; }
.icn-plus-square:before { content: "\f10c"; }
.icn-ribbon:before { content: "\f10e"; }
.icn-tent:before { content: "\f108"; }
